
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<h4>Who we are:</h4>
<p>Our website is designed to help indiiduals sign up for running races throughout the Unitd States. WIth our site, you can see upcomoing events and choose a race to sign up 
    for within minutes. We even added a little fun. There is a select few that choose to not where shoes when running. We have added a category into your registration that 
    tells us about the shoe you wear when you run. This can help other fellow runners choose a pair based on what they see other runners wearing for a particular race. We 
    know, we know, every foot is different and require different types of shoes. However, being able to see how many other runners wear a particualr shoe can lead to exploring 
    a certai brand or type of running shoe.</p>

