
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<h4>Business Hours:</h4>
<p>Monday - Friday 8AM to 5PM EST</p>
<h4>Call us at</h4>
<p>1-800-123-4567</p>
<h4>Email us at:</h4>
<p>customer_service@racesignup.com</p>
<h4>Feedback:</h4>
<p>Your feedback is importnant to us. If there is something we can improve on, we want to know about it. If there is something you like about our site, <br />
    we would love to know what it is! Please email us at feedback@racesignup.com. </p>

