﻿body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #9D8D8f;
    color: #FAED26;
}

p {
    color: #9D8D8F;
}

a {
    color: #FAED26;
    text-decoration: none;
    padding: 10px;
}

    a:hover {
        font-size: 1.2em;
        text-shadow: 1px 1px 10px darkgoldenrod;
        border-radius: 10px;
        text-decoration: none;
        color: darkgoldenrod;
    }

.nav-link:hover {
    color: #FAED26;
    background-color: #9B786F;
    text-decoration: none;
    border-radius: 10px;
}

.nav-link {
    color: #FAED26 !important;
}
